@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html
{
  height: 100%;
}
body
{
  
  background: black;
  background: -moz-linear-gradient(45deg, #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-attachment: fixed;
  background-size: 100%;
}
header
{
  width: auto;
  background: transparent;
  z-index: 2;
}
header ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  text-align: center;
}
header ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
header ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
header.align-right ul li {
  float: right;
}
header.align-center ul {
  text-align: center;
}
header ul li a {
  color: #B6C7D1;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
header ul li a:hover {
  color: #F5F5F5;
}
header ul li a:hover:before {
  width: 100%;
}
header ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
header ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #F5F5F5;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
header ul li.last > a:after,
header ul li:last-child > a:after {
  display: none;
}
header ul li.active a {
  color: #F5F5F5;
}
header ul li.active a:before {
  width: 100%;
}
header.align-right li.last > a:after,
header.align-right li:last-child > a:after {
  display: block;
}
header.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  header ul li {
    float: none;
    display: block;
  }
  header ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  header ul li.last > a,
  header ul li:last-child > a {
    border: 0;
  }
  header ul li a:after {
    display: none;
  }
  header ul li a:before {
    display: none;
  }
}
#home
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  width: 18%;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  -webkit-box-shadow: 0px 7px 16px 5px rgba(50, 50, 50, 0.44);
  -moz-box-shadow: 0px 7px 16px 5px rgba(50, 50, 50, 0.44);
  box-shadow: 0px 7px 16px 5px rgba(50, 50, 50, 0.44);
  border: 1px solid white;
  z-index: 10;
  
}
div.main
{
  background: -moz-linear-gradient(45deg, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 55%;
  height: 25%;
  min-height: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -7%;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  z-index: 5;
}
.name
{
  font-family: 'Open Sans', sans-serif;
  padding-top: 9.5%;
  padding-bottom: 0;
  position: relative;
  text-align: center;
}
p
{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: oblique;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  line-height: 165%;
  text-indent: 50px;
}
.bottomp
{
  padding-bottom: 2%;
}
.port
{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 2%;
  color: #F6F7EF;
}
.port_page
{
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right:auto;
  border: black 2px solid;
  background: -moz-linear-gradient(45deg, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
  background: -webkit-linear-gradient(45deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); 
  background: linear-gradient(45deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
}
.courses
{
  display: inline-block;
  border: black 1px solid;
  width: 14%;
  height: 50%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(45deg, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-transition: background .5s;
  -moz-transition: background 1s;
  -ms-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}
.courses:hover
{
  background: #b5bdc8; /* Old browsers */
  background: -moz-linear-gradient(45deg, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.courses h2
{
  text-align: center;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}
/*#coursedescr
{
  width: 38%;
}
#coursedescr ul li
{
  margin-bottom: 2%;
  margin-right: 5%;
  
}
#addtl
{
  display: inline-block;
  border: black 1px solid;
  width: 38%;
  height: 50%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 0;
  margin-bottom: 5%;
  background: #ffffff; Old browsers
  background: -moz-linear-gradient(45deg, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); 
  background: -webkit-linear-gradient(45deg, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); 
  background: linear-gradient(45deg, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
}
#addtl h2
{
  text-align: center;
}
#addtl ul li
{
  margin-bottom: 2%;
  margin-right: 5%;
  font-family: 'Open Sans', sans-serif;
}
.outlinebox
{
  display: inline-block;
  width: 14%;
  height: 50%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 0;
  margin-bottom: 5%;
  font-family: 'Open Sans', sans-serif;
}*/
.git
{
  color: #4C575F;
  text-decoration: none;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}
.git:visited:hover
{
  color: white; 
}
.git:visited
{
  color: #4C575F;
}
#bio
{
  float: right;
  width: 200px;
  height: auto;
  border: 1px black solid;
  margin-right: 15%;
  margin-top: -8%;
  z-index: 5;
}
#namebio
{
  font-family: 'Open Sans', sans-serif;
  font-size: 500%;
  color: #F6F7EF;
  float: left;
  margin-left: 15%;
  margin-top: 1%;
  margin-bottom: 3%;
}
#bio_cont
{
  background: -moz-linear-gradient(45deg, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 75%;
  height: 25%;
  min-height: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  z-index: 5;
}
#lang
{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: oblique;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  line-height: 165%;
  text-indent: 50px;
  list-style: none;
}
.bio
{
  width: 80%;
}
.quote
{
  color: #4C575E;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: oblique;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: block;
  padding-top: 2%;
  padding-bottom: 3%;
}
#jack
{
  width: 25%; 
  margin-left: 25%; 
}
.icon
{
  width: 20%;
  height: auto;
  float: right;
  margin-top: 10%;
}
.icon:hover
{
  background-color: #b8bac6;
  border-radius: 11px 11px 11px 11px;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  background-size: 1000%;
}
#linkedin
{
  margin-left: 10%;
  margin-right: 20%;
}
#gmail
{
  margin-left: 20%;
  margin-right: 10%;
}
#all_skills
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#all_skills h2
{
  color: #4C575E;
  text-align: center;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}
#prog_skill
{
  display: inline-block;
  margin-right: 5%;
}
#tech_skill
{
  
  margin-left: 5%;
  display: inline-block;
}
.skills
{
  vertical-align: top;
}
.skills ul li
{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 3px;
  list-style-type: square;
}